.ideas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: $spacing-l;
  grid-column-gap: $spacing-m;
  width: 100%;

  .idea {
    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      margin-bottom: $spacing-m;
    }
    .filler-poster {
      width: 100%;
      height: 300px;
      margin-bottom: $spacing-m;
      background-color: gray;
    }

    h2 {
      font-size: $font-size-l;
      margin-bottom: $spacing-s;
      color: $color-text-primary;
    }

    p {
      font-size: $font-size-m;
      margin-bottom: $spacing-s;
      color: $color-text-primary;
    }

    span {
      font-size: $font-size-m;
      display: block;
      color: $color-text-secondary;
    }
  }
}
