.patrons {
  margin-top: $spacing-l;

  h2 {
    font-size: $font-size-xl;
    color: $color-text-primary;
    margin-bottom: $spacing-l;
  }

  table {
    width: 100%;
    font-size: $font-size-m;
    border-collapse: collapse;
  }

  thead {
    background-color: rgba($color-black, 0.05);
  }

  td, th {
    text-align: left;
    border: 1px solid rgba($color-black, 0.2);
    padding: $spacing-s $spacing-s;
  }
}
