$font-family-base: 'Roboto', sans-serif;

$spacing-xs: 4px;
$spacing-s: 8px;
$spacing-m: 16px;
$spacing-l: 24px;
$spacing-xl: 32px;

$font-size-xs: 10px;
$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 16px;
$font-size-xl: 18px;
$font-size-xxl: 24px;

$color-white: #ffffff;
$color-black: #000000;
$color-text-primary: #191A26;
$color-text-secondary: #7E8CA0;
$color-primary: #FD451C;
